.easy {
  margin-top: 150px;
  &__box {
    display: flex;
    column-gap: 125px;
  }
  &__board {
    width: 445px;
    background: #1b262f;
    box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
    border-radius: 8px;
  }
  &__menu {
    padding: 12px 0;
    padding-left: 16px;
    background: #2e3f4d;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    column-gap: 6.4px;
  }
  &__code {
    padding: 32px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #fbfcfe;
  }
  &__content {
    width: 445px;
  }
  &__title {
    margin-top: 60px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536b;
  }
  &__text {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6c8294;
  }
}
// responsive__part //

// tablet__part
@media (min-width: 768px) and (max-width: 1024px) {
  .easy {
    margin-top: 80px;
    &__container {
      width: 689px;
      margin: 0 auto;
    }
    &__box {
      display: flex;
      flex-direction: column;
      row-gap: 48px;
    }
    &__board {
      margin: 0 auto;
    }
    &__content {
      margin: 0 auto;
      text-align: center;
      width: 573px;
    }
    &__title {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }
}

// phone__part
@media (min-width: 320px) and (max-width: 480px) {
  .easy {
    margin-top: 80px;
    &__container {
      width: 328px;
      margin: 0 auto;
    }
    &__box {
      display: flex;
      flex-direction: column;
      row-gap: 48px;
    }
    &__content {
      margin: 0 auto;
      text-align: center;
      width: 327px;
    }
    &__title {
      margin-top: 0;
      margin-bottom: 24px;
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      letter-spacing: -0.276923px;
      color: #36536b;
    }
    &__text {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      color: #6c8294;
    }
    &__board {
      width: 328px;
      background: #1b262f;
      box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
      border-radius: 8px;
    }
    &__code {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 16px;
      color: #fbfcfe;
    }
  }
}
